<div tabindex="1" class="wrapper">
  <div class="mode">
    <div>
      <button class="mode__button">Akcja1</button>
      <button class="mode__button">Akcja2</button>
    </div>
  </div>
  <div class="card">
    <h3 class="card__heading">Lobby</h3>

    <div class="games">
      <ul class="games__list">
        <li *ngFor="let game of games" (click)="popupJoinGame(game)">
          <div>{{ game.name }}</div>
        </li>
      </ul>

      <button class="games__button" type="submit" [disabled]="false">
        Dołącz do pokoju
      </button>
    </div>
    <div class="create">
      <div class="notch">
        <div class="side side--left"></div>
        <div class="heading">Tworzenie pokoju</div>
        <div class="side side--right"></div>
      </div>
      <fieldset class="create__fieldset">
        <legend class="create__legend">Nazwa pokoju</legend>
        <input
          #gameName
          class="create__input"
          type="text"
          minlength="4"
          maxlength="10"
        />
      </fieldset>
      <button
        class="create__button"
        type="submit"
        [disabled]="false"
        (click)="createGame.emit(gameName.value)"
      >
        Załóż pokój
      </button>
    </div>
  </div>
</div>
<app-popover *ngIf="popoverVisible">
  <div class="join-room">
    <p>Chcesz dołączyć do {{ selectedGame?.name }}</p>

    <div>
      <button
        class="join-room__join"
        type="submit"
        [disabled]="false"
        (click)="join()"
      >
        Dołącz
      </button>

      <button
        class="join-room__cancel"
        type="submit"
        [disabled]="false"
        (click)="popoverVisible = false"
      >
        Anuluj
      </button>
    </div>
  </div>
</app-popover>
